<?xml version="1.0" encoding="utf-8"?>
<configuration>
    
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Heladeria.Properties.Settings.BD3K6G05_2022ConnectionString" connectionString="Data Source=200.69.137.167,11333;Initial Catalog=BD3K6G05_2022;Persist Security Info=True;User ID=BD3K6G05_2022;Password=BDG05_8790" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
